In [1]:
import pandas as pd
import numpy as np

In [2]:
dataFrame = pd.read_excel("27-SalarySheet.xlsx")

In [3]:
dataFrame

       Employee Name            Department       Title  Salary
0       Semaj Bowers             Marketing         Mid     600
1        Gary Foster                 Sales         Mid     650
2   Saniya Maldonado                    HR         Mid     600
3     Jillian Zuniga                    HR     C-level    1000
4      Courtney Mora                 Sales         Mid     550
..               ...                   ...         ...     ...
95          Jake Gay                 Sales      Junior     443
96      Macy Webster               Finance     C-level    1250
97     Jaquan Meyers             Marketing  Mid-Senior     800
98       Willow Bush  Software Development      Junior     441
99   Emmanuel Prince                 Sales         Mid     612

[100 rows x 4 columns]

In [4]:
#1) Toplamda kaç satır veri vardır?

In [5]:
# cevap

In [6]:
#2) Bu firma ortalama ne kadar maaş vermektedir?

In [7]:
# cevap

In [8]:
#3) Bu firmada departmanlara göre ortalama maaş karşılaştırması nasıldır?

In [9]:
# cevap)

In [10]:
#4) Bu firmada title (senior - junior) durumuna göre ortalama maaş karşılaştırması nasıldır?

In [11]:
# cevap

In [12]:
#5) Senior bir kişinin junior bir kişiye göre maaşı ortalama yüzde kaç fazladır?

In [13]:
# cevap

In [14]:
#6) Software development departmanında senior bir kişinin junior bir kişiye göre maaşı ortalama ne kadar fazladır?

In [15]:
# cevap

In [16]:
#7) Finance departmanında c-level bir kişinin mid-senior bir kişiye göre maaşı ortalama ne kadar fazladır?

In [17]:
# cevap

In [18]:
#8) Software development departmanında c-level çalışan sayısı marketing departmanında çalışana oranla kaç kat fazladır?

In [19]:
# cevap