In [2]:
import pandas as pd

In [24]:
column = ["Mariya", "Batman", "Spongebob"]
titled_columns = {"name" : column,
                "height" : [1.67, 1.9, 0.25],
                "weight" : [54, 100, 1]}
data = pd.DataFrame(titled_columns)
select_column = data["weight"][1]
select_row = data.iloc[1]["weight"]
select_column

100

In [32]:
bmi = []
for i in range(len(data)):
    bmi_score = data ["weight"][i]/(data["height"][i]**2)
    bmi.append(bmi_score)
data["bmi"] = bmi
data

        name  height  weight        bmi
0     Mariya    1.67      54  19.362473
1     Batman    1.90     100  27.700831
2  Spongebob    0.25       1  16.000000

In [34]:
seri1 = pd.Series((10,20,30,40,50))
seri1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [36]:
seri1 > 30

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [40]:
seri1 [(seri1 > 15) & (seri1 < 45)]

1    20
2    30
3    40
dtype: int64

In [42]:
seri2 = pd.Series ((1,2,3,4))
seri2

0    1
1    2
2    3
3    4
dtype: int64

In [44]:
seri2 + 5

0    6
1    7
2    8
3    9
dtype: int64

In [46]:
seri2 * 3

0     3
1     6
2     9
3    12
dtype: int64

In [48]:
seri2 = pd.Series((1,2,3,4), index = (10,20,30,40))
seri2

10    1
20    2
30    3
40    4
dtype: int64

In [54]:
seri2.iloc[3]

4

In [56]:
seri2.loc[40]

4

In [60]:
seri2.loc[20:40]

20    2
30    3
40    4
dtype: int64

In [64]:
seri2.loc[20:40]

20    2
30    3
40    4
dtype: int64

In [66]:
seri2.iloc[2:4]

30    3
40    4
dtype: int64

In [ ]:
# NumPy'de, fancy indexing, birden fazla dizi öğesine aynı anda erişmek için bir dizi dizin kullanmamızı sağlar. Fancy indexing, koşullu filtreleme, 
sıralama vb. dahil olmak üzere daha gelişmiş ve verimli dizi işlemleri gerçekleştirebilir.

In [68]:
import numpy as np

In [72]:
array1 = np.array([1, 2, 3, 4, 5, 6, 7, 8])

In [76]:
select_elements = array1[[1, 2, 5, 7]]
select_elements

array([2, 3, 6, 8])

In [86]:
arr111 = [ [1,2,3],
        [4,5,6],
        [7,8,9] ]

In [88]:
arr111[ [0,1], [1,2] ]

TypeError: list indices must be integers or slices, not tuple

In [90]:
arr111[:2, 1:]

TypeError: list indices must be integers or slices, not tuple

In [92]:
import numpy as np
rand = np.random.RandomState(42)

x = rand.randint(100, size=10)
print(x)

[51 92 14 71 60 20 82 86 74 74]

In [94]:
[x[3], x[7], x[2]]

[71, 86, 14]

In [96]:
ind = [3, 7, 4]
x[ind]

array([71, 86, 60])

In [106]:
fn = np.arange(16)
fn

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [108]:
fn[[1,3,5]]  # 2, 4, ve 5'inci eleman olarak algıladı.

array([1, 3, 5])

In [102]:
fancy = np.arange(100).reshape(10,10)
fancy

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [104]:
fancy[[1,3,5]] # 2, 4, ve 5'inci satır olarak algıladı.

array([[10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59]])

In [110]:
fancy[[-1,-2,-3]] # sondan birinci ikinci ve üçüncü satır.

array([[90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79]])

In [112]:
fancy[[1,3,5], [1,3,5]] # ikincisatırını ikincisi şeklinde algıladı.

array([11, 33, 55])

In [114]:
import numpy as np

In [116]:
fancy2 = np.arange(64).reshape(8,8)
fancy2

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60, 61, 62, 63]])